.photo-column {

	background-color: sienna;
	height:200px ;
	width:10px ;

}
@media ( min-width: 575.98px ){
	.video{
		margin-top:20px;
		width:100%;
		height: 400px;
	}
}
@media ( min-width: 767.98px ){
	.video{
		margin-top:20px;
		width:100%;
		height: 600px;
	}
}
@media ( min-width: 991.98px ){
	.video{
		margin-top:20px;
		width:100%;
		height: 800px;
	}
}